<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   
  
  
  <ion-button expand="full" color="primary" href="https://www.google.com/maps/d/u/0/viewer?mid=13kxZTfA8HyYkBbNgwPsFtBvQbEU&hl=en_US&ll=51.06901644770975%2C131.484375&z=2" target="_blank">detectar la ubicación actual </ion-button>

    <ion-button [routerLink]="['/camera']" expand="block" color="danger" class="next-button">Siguiente</ion-button>
  </ion-content>
  <ion-content>
    <a href="https://es.wikiloc.com/rutas/outdoor/republica-dominicana" target="_blank">
      <img width="10000000" style="margin: 0 auto;" src="assets/img/yo.jpg" alt="Imagen Clickeable">
    </a>
  </ion-content>
  
<ion-content>
  <div #map id="map"></div>
</ion-content>

