<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/img/logo1.png" alt="Imagen" width="50" height="50" />
    </ion-buttons>
    <ion-title>
      Los Compas Tour 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div class="button-container">
          <ion-button [routerLink]="['/register']" expand="block" color="primary">Registrate</ion-button>
          <ion-button [routerLink]="['/login']" expand="block" color="danger">Iniciar</ion-button>
        </div>
      </ion-col>
      
    </ion-row>
  <img width="550" class="margin: 10 auto;"  src="assets/img/compa1.jpg"/>
  
  <img width="550" class="margin: 10 auto;"  src="https://www.dominicanatours.com/public/images/home/tarjetamovil/samana3.jpg"/>
 
  <img width="550" class="margin: 10 auto;"  src="https://www.colonialtours.com/images/toursparapuntabonipeque5622.jpg"/>

  <img width="550" class="margin: 10 auto;"  src="https://www.dominicantours.com.do/images/Buggies-Macao-Dominican-Tours56_qkt2ovac.jpg"/>

  <img width="550" class="margin: 10 auto;"  src="https://media.tacdn.com/media/attractions-splice-spp-674x446/0a/9a/33/2a.jpg"/>

  <img width="550" class="margin: 10 auto;"  src="https://res.cloudinary.com/simpleview/image/upload/v1684288265/clients/dominicanrepublic/rmp7_cayo_arena_puerto_plata_a4b4289e-1fc7-4e8e-9149-564cd52a79bc.jpg"/>

  </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Tours</ion-title>
  </ion-toolbar>
</ion-footer>