#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.image-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* O ajusta la altura según tus necesidades */
}

.centered-image {
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px; /* Margen superior */
}

ion-button {
  flex: 1; /* Distribuye el espacio disponible equitativamente entre los botones */
  max-width: 150px; /* Ancho máximo para los botones */
}
